<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.zzy.driver">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="${app_icon}"
        android:label="${app_name}"
        tools:replace="label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.ui.activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.LoginActivity">

        </activity>

        <activity android:name=".mvp.ui.activity.MainActivity"/>
        <activity android:name=".mvp.ui.activity.WalletActivity"/>
        <activity android:name=".mvp.ui.activity.WebViewLoadActivity"/>
        <activity android:name=".mvp.ui.activity.PersonInfoActivity"/>
        <activity android:name=".mvp.ui.activity.ChooseCityActivity"/>
        <activity android:name=".mvp.ui.activity.HistoryWaybillActivity"/>
        <activity android:name=".mvp.ui.activity.QRCodeActivity"/>
        <activity android:name=".mvp.ui.activity.RecommendActivity"/>
        <activity android:name=".mvp.ui.activity.SellCapacityRecordActivity"/>
        <activity android:name=".mvp.ui.activity.VehicleManagerActivity"/>
        <activity android:name=".mvp.ui.activity.UserGuideActivity"/>

        <!-- ImagePicker 相关配置 -->
        <activity android:name="com.linchaolong.android.imagepicker.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>